.form-group {
    padding: 10px;
    margin-bottom: 10px;
}

.form-group input {
    height: 30px;
    width: 100%;
    margin-top: 10px;
}

.form {
    display: block;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.list_task {
    border: 1px solid #333;
    margin-top: 10px;
}

.action{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 10px;
}

.item_list_judul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.list_data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    list-style: none;
    line-height: 0.5rem;
    background-color: rgb(210, 209, 209);
    border: 1px solid #ccc;
    border-radius: 5px;
}

.list_data:hover {
    background-color: #ccc;
}

.list_data span {
    padding: 6px 4px 4px 4px;
    border-radius: 0px 0px 5px 5px; 
    font-size: 15px;
}

.badge-info {
    background-color: rgb(33, 198, 206);
    color:#333
}

.badge-primary {
    background-color: rgb(41, 47, 205);
    color:#fff;
}

.badge-success {
    background-color: rgb(90, 217, 175);
    color:#333
}

.list_data p {
    color: #6b6b6b
}

.itemAction {
    display: flex;
    align-items: center;
}

.btn-detail{
    padding: 10px;
    background-color: aquamarine;
    color:#333;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-detail:hover{
    background-color: rgb(98, 228, 184);
}

.btn-danger{
    padding: 10px;
    background-color: red;
    color:#fff;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-danger:hover{
    background-color: rgb(220, 42, 42);
}

.btn-info{
    padding: 10px;
    background-color: rgb(173, 238, 44);
    color:#333;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-info:hover{
    background-color: yellowgreen;
}

/* Modal background */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Close button */
#close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close-button:hover,
#close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Animation for modal appearance */
@keyframes animatetop {
    from {
        top: -500px;
        opacity: 0
    }

    to {
        top: 10%;
        opacity: 1
    }
}

 /* pagination */
#pagination-controls{
    margin-top: 10px;
    display: flex;
    margin-left: 10px;
    overflow: hidden;
    gap:5px
}

.prevButton{
    background-color: #e59c27;
    color : #333;
    padding: 8px;
    font-size: 14px;
}

.buttonDisabled{
    background-color: #686868;
    color : #333;
    padding: 8px;
    font-size: 14px;
}

.prevButton:active{
    background-color: #ecb864;
    color : #333;
    padding: 8px;
    font-size: 14px;
}

.nextButton{
    background-color: #e59c27;
    color : #333;
    padding: 8px;
    font-size: 14px;
}

.active{
    background-color: #f6c26f;
    color : #333;
}